.wish-list_dropdown {
  position: absolute;
  right: 150px;
  background: #fff;
  width: 300px;
  padding: 30px 15px 15px 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  color: #fff;

  h2 {
    text-align: center;
    border-bottom: 1px solid #000;
    color: #000;
  }
}

.wish-list_close {
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;

  i {
    font-size: 24px;
  }
}

.open {
  opacity: 1;
  visibility: visible;
}
