#product-tab {
    position: relative;
    width: 1140px;
    height: 160px;
    margin-top: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#product-tab .tab-nav {
    position: relative;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 30px;
}

#product-tab .tab-nav:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #e4e7ed;
    z-index: -1;
}

#product-tab .tab-nav li {
    display: inline-block;
    background: #fff;
    padding: 0px 15px;
}

#product-tab .tab-nav li + li {
    margin-left: 15px;
}

#product-tab .tab-nav li a {
    display: block;
    font-weight: 700;
    color: #8d99ae;
}

#product-tab .tab-nav li.active a {
    color: #d10024;
}

#product-tab .tab-nav li a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #d10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

#product-tab .tab-nav li a:hover:after,
#product-tab .tab-nav li a:focus:after,
#product-tab .tab-nav li.active a:after {
    width: 100%;
}