#root {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

h3 {
  color: #2B2D42;
  font-weight: 700;
  margin: 0 0 10px;
}